Validation of trusted CA certificates

If there is trusted CA certificate at end of certificate chain, CertificateChainValidationEngine tries to validate respective CA attributes, and fails if required attributes are not present.

Unfortunately, there are still some version 1 root certificates that have no attributes (i.e. "VeriSign Class 2 Public Primary Certification Authority - G3") that are at the end of chains which I need to trust.

My proposal is, if a anchor (root) certificate is supplied as trusted certificate to the CertificateChainValidationEngine, do not perform any validation on the certificate itself (i.e. inside checkForCA).

"...tries to validate respective CA attributes" - which attributes?

I believe it fails on BasicConstrains, checking if CA is TRUE. Regardless, the trusted certificate has no extensions (version 1).

From RFC5280, section 4.2.1.9.  Basic Constraints:

> Conforming CAs MUST include this extension in all CA certificates that contain public keys used to validate digital signatures on certificates and MUST mark the extension as critical in such certificates.

So, if you have certificate which has no such extension then the CA is not conforming to RFC5280. And PKI.js would not work with such certificates - lib would correctly says "certificate is not trusted". If you wish you could make your own fork and make your changes, but your proposal would not be included in main branch of PKI.js

Unfortunately, there are certificates that were issued before RFC5280, and you can probably find the mentioned certificate in the 'trusted certificates' store of any of your devices. Certificates that chain to that root are IMHO, still considered valid.

PKI.js is a RFC5280-conforming lib and then the lib will reject any non-conforming certificates. If there is a requirement in RFC5280 to have such extension then PKI.js will require the extension. As I said if you wish you could make your own fork and make "RFC5280 non-conforming" variant and use it as you wish.