Does the library support Octet String for SANs?

Hi @YuryStrozhevsky  I raised the issue #90  sometime back and was able to get that worked based on your suggestions. However, I realized that if I create a CSR that has SANs with an Octet String format, that does not gets displayed(Maybe some IP Address mentioned in SANs). I was wondering if there is any wrapper method that could do the job here that I'm not able to read through in the code. I'm attaching a sample CSR created with the issue for reference. Also, on similar lines, I wasn't able to parse bit string keyUsage(2.5.29.15). Could you please advice?
[SANs_Issue.zip](https://github.com/PeculiarVentures/PKI.js/files/863299/SANs_Issue.zip)



@sfuser16 Check [this comment](https://github.com/PeculiarVentures/PKI.js/issues/90#issuecomment-284666847) more carefully - there I said you how to work with internal extension data and even pointed line in PKI.js code where we did exactly what you want.

HI @YuryStrozhevsky , Based on your last comment only I was able to get until this point. I know the _fromschema_ has _parsedValue_ component that has the extensions values parsed. With this, I can now parse extensions, parse SANs(if they are strings), parse other extensions(if they are string). I've put down the snippet ParseExtensions.js I'm using to achieve this and is in the zip file with this comment. However, there are some use cases(sample attached) which my snippet couldn't handle. In the attached sample CSR, I've IP Address as few of the in the SANs which couldn't be parsed. The string SANs were easy to parse by the approach you mentioned. Not sure if I'm missing on anything here.
[SANs_Issue.zip](https://github.com/PeculiarVentures/PKI.js/files/863898/SANs_Issue.zip)


@sfuser16 You know none could automate everything. So even with our excellent library you need to know much about internal PKI structures. As for your case you need to know how the IP addresses present in SAN. Did you check RFC5280? Seems not and then let me do this for you:
```
   When the subjectAltName extension contains an iPAddress, the address
   MUST be stored in the octet string in "network byte order", as
   specified in [RFC791].  The least significant bit (LSB) of each octet
   is the LSB of the corresponding byte in the network address.  For IP
   version 4, as specified in [RFC791], the octet string MUST contain
   exactly four octets.  For IP version 6, as specified in
   [RFC2460], the octet string MUST contain exactly sixteen octets.
``` 
And in the same RFC we have the ASN.1 schema for SAN:
```
   SubjectAltName ::= GeneralNames

   GeneralNames ::= SEQUENCE SIZE (1..MAX) OF GeneralName

   GeneralName ::= CHOICE {
        otherName                       [0]     OtherName,
        rfc822Name                      [1]     IA5String,
        dNSName                         [2]     IA5String,
        x400Address                     [3]     ORAddress,
        directoryName                   [4]     Name,
        ediPartyName                    [5]     EDIPartyName,
        uniformResourceIdentifier       [6]     IA5String,
        iPAddress                       [7]     OCTET STRING,
        registeredID                    [8]     OBJECT IDENTIFIER }
```
As you can see ipAddress is a pure OctetString - nothing to parse there.

You could also check [our code](https://github.com/PeculiarVentures/PKI.js/blob/master/src/CertificateChainValidationEngine.js#L1527) working with SANs and expesially with IP addresses. Do not think I can give you anything more.

@YuryStrozhevsky , This makes sense. Thanks again for your help.